 <!-- <div id="footer" class="container">
    <div class="socialMediaLinks">
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Linkedin</li>
            <li>Github</li>
        </ul>
    </div>
    <div id="contactMe">
        <p>Contact Me!</p>
    </div>
</div> -->

<p class="footer">Website By Michael Kijanka, 2018</p>

</body>
</html>