<% include partials/header%>
<div class="container">

<div id="header" class="jumbotron" class="container">
    <h1>Michael Kijanka</h1>
    <p>Game Programmer</p>
</div>

<div class="container">
            <div id="aboutMe" class="section">
                <h2 class="page-header">About Me</h2>
                <p>Hello there! Thank you for taking the time to look at my portfolio!</p>
                
                <p>Allow me to introduce myself, my name is Michael Kijanka and I am a game programmer from Adelaide Australia. I am currently studying game programming at the Academy of Interactive Entertainment. This has given me the fundamental knowledge in how game development works, from the design, prototyping and production of a video game.</p>

                <p>I have always had a passion for video games. From entering the lands of Hyrule in Zelda the Ocarina of Time, to commanding an elite squad of alien killing soldiers in x-com. I now want to be able to create those similar game experiences for future generations.</p>

                <p>Now please enjoy some of my projects below. All projects were made in Unity. Some of these are still a work in progress, therefore the source code and game are not yet ready for download.</p>

            </div>
        </div>

        <div class="Container">
            <div class="section ExampleWork">
                <h2 class="page-header">Portfolio Website</h3>
                <div class="gameinfo">
                        <p>This website has been created by myself.</p>
                        <p>This has been created using Node.js, using the express.js framework. I plan on constantly updating this website adding further features and detail</p>
                        <p>Feel free to see the source code by clicking the bucket below.</p>
                </div>
                <div class="GameLinks">
                    <hr>
                    <span title="Source Code"><a href="https://bitbucket.org/Janks_711/portfoliowebpage/"><i class="fab fa-bitbucket"></i></a></span>
                </div>
            </div>  
        </div>

        <div class="Container">
            <div class="section ExampleWork">
                <h3 class="page-header">
                    <img src="/images/FranticFoodFrenzyLogo.png">
                </h3>
                <div class="TrailerVideo">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/26N0AMmhz0U" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="gameinfo">
                        <h4>What is it?</h4>
                        <p>Frantic Food Frenzy is the AIE Major Production Project that I am currently working on</p>
                        <p>In Frantic Food Frenzy, you are late to deliver the food to your client. What's worse? You still haven't cooked the food! You must quickly rush around the city and gather the ingredients for the food ordered and deliver it in time</p>
                        <br>
                        <h4>What did I work on?</h4>
                        <p>As one of three programmers I am working on the following in this project</p>
                        <ul>
                            <li>Cooking action and minigames, programming how the games start, play and what happens when the player has finished cooking.</li>
                            <li>Gameplay systems such as, spawning the final destination when the recipe is completed and transitioning from driving to cooking.</li>
                        </ul>
                        <br>
                        <p class="WorkInProgress">This project is still currently in development and due to be completed in April 2019</p>
                </div>
                <div class="GameLinks">
                    <hr>
                    <span title="Latest Build" class="inactive"><i class="fas fa-save"></i></span>
                    <span title="Source Code" class="inactive"><i class="fab fa-bitbucket"></i></span>
                </div>
            </div>  
        </div>

        <div class="Container">
                <div class="section ExampleWork">
                    <h3 class="page-header">
                        <img src="/images/TimeCrystalsForHumanityLogo.png">
                    </h3>
                    <div class="TrailerVideo">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4XAfp8TnmlQ" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="gameinfo">
                            <h4>What is it?</h4>
                            <p>Time Crystals of Humanity is a Game Jam game completed as a group within AIE</p>
                            <p>The game jam theme was: <strong>Time</strong></p>
                            <p>The world is on the verge of collapse, the only hope is four brothers in 4 different dimensions! Collect the crystals and save the world</p>
                            <br>
                            <h4>What did I work on?</h4>
                            <p>On this project I worked on the following</p>
                            <ul>
                                <li>Player movement, including implenting the Animations.</li>
                                <li>The various traps and how they affect the player.</li>
                            </ul>
                    </div>
                    <div class="GameLinks">
                            <hr>
                            <span title="Latest Build"><a href="https://drive.google.com/uc?export=download&id=1ixxOokzknJ9TQOQ-ls4j9F08RHzpwbkC"><i class="fas fa-save"></i></a></span>
                            <span title="Source Code"><a href="https://bitbucket.org/Janks_711/timecrystalsforhumanity/"><i class="fab fa-bitbucket"></i></a></span>
                    </div>
                </div>  
            </div>

            <div class="Container">
                    <div class="section ExampleWork">
                        <h3 class="page-header">
                            <img src="/images/CoffeeCrusaderLogo.png">
                        </h3>
                        <div class="TrailerVideo">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K0NudgauKWY" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="gameinfo">
                                <h4>What is it?</h4>
                                <p>Coffee Crusader is a Game Jam game completed as a group within AIE</p>
                                <p>The game jam theme was: <strong>Seven</strong></p>
                                <p>You're late for work and what's more? The boss is pissed! You better make him (and yourself) some coffee! But someone in office has hidden the coffee... You better start looking, the clock is ticking</p>
                                <br>
                                <h4>What did I work on?</h4>
                                <p> I was the sole programmer on Coffee Crusader so I coded the entire game, some key features are</p>
                                <ul>
                                    <li>UI programming, all the menus and other UI elements.</li>
                                    <li>Scene Management, transition between floors.</li>
                                    <li>The gameplay elements on the various floors, such as the pushable boxes, the safe code and switch activation.</li>
                                    <li>Basic Enemy AI.</li>
                                </ul>
                        </div>
                        <div class="GameLinks">
                                <hr>
                                <span title="Latest Build"><a href="https://drive.google.com/uc?export=download&id=1HtIlOGag0gi_IHZARFCNTx4SIOcH78mz"><i class="fas fa-save"></i></a></span>
                                <span title="Source Code"><a href="https://bitbucket.org/Janks_711/coffeecrusader1/src/master/"><i class="fab fa-bitbucket"></i></a></span>
                        </div>
                    </div>  
                </div>

                <div class="Container">
                        <div class="section ExampleWork">
                            <h3 class="page-header">
                                <img src="/images/ZombieSwarmLogo.png">
                            </h2>
                            <div class="TrailerVideo">
                                <div>
                                    <img src="/images/ZwarmCapture.png">
                                </div>
                            </div>
                            <div class="gameinfo">
                                    <h4>What is it?</h4>
                                    <p>Zombie Swarm is a solo project and one of my first games</p>
                                    <p>You arrive at the hospital and see the carnage around you, suddenly you hear them, the swarm. It's time to slay some Zombies!</p>
                                    <br>
                                    <h4>What did I work on?</h4>
                                    <p>This was a solo project, with the assets found on the Unity Store, therefore all the code is my own. Some highlights include</p>
                                    <ul>
                                        <li>Setting up navmesh for the Zombies to avoid the various objects in the scene and be able to track the player through rooms.</li>
                                        <li>Setup particle systems the so muzzle flash will trigger when the gun is fired and blood will spray when the zombies are hit</li>
                                        <li>Sound triggers, setup the gun sounds when fired and the Zombie sounds in the game.</li>
                                        <li>The various guns in the game and their unique operation</p>
                                        <li>All UI elements.</li>
                                    </ul>

                            </div>
                            <div class="GameLinks">
                                    <hr>
                                    <span title="Latest Build"><a href="https://drive.google.com/uc?export=download&id=1l5AO1hQCq7rqdGs8IbF52fvE92VSm-t4"><i class="fas fa-save"></i></a></span>
                                    <span title="Source Code"><a href="https://bitbucket.org/Janks_711/zombieswarm/"><i class="fab fa-bitbucket"></i></a></span>
                            </div>
                        </div>  
                    </div>

<% include partials/footer %>