body {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'PT Sans', sans-serif;
    font-size: 20px; 
    text-align: justify;
    color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
    font-family: 'Kanit', sans-serif;
    text-shadow: black 0.1em 0.1em 0.1em;
}

h3 {
    text-align: center;
    font-weight: bold;
    margin: 0px auto;
}

h3 img {
    height: 250px;
    width: 500px;
}

h4 {
    font-family: 'Kanit', sans-serif;
    background: #27292d;
    padding: 0px 60px;
}

p {
    padding: 2px 20px;
}

input {
    color: black;
}

a {
    color:inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#header {
    color: whitesmoke;
    text-shadow: black 0.3em 0.3em 0.3em;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

#contactMe {
    float: right;
    margin: 20px 20px;
}

.jumbotron {
    background-image: url(/images/JumboBack.jpg); /*image source https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260*/
    background-color: grey;
    background-position: 0% 60%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron h1 {
    font-size: 3em;
}

.jumbotron p {
    font-size: 1.5em;
}

.section {
    background: rgba(200, 200, 250, 0.25);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
}

.socialMediaLinks li {
    list-style: none;
    float: left;
    margin: 20px 20px;
    padding: 20px auto;
}

.GameLinks span {
   margin: 10px 10px;
   color: white;
}

.gameinfo {
    padding: 10px;
}

.inactive i {
    color: grey;
}

.footer{
    font-size: .5em;
    float: right;
}

.WorkInProgress {
    background: #27292d;
    text-align: center;
    font-weight: bold;
}